@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
box-sizing: border-box;    /* changes width property to total width instead of content width */
/* ctrl + e = css rule */
/* ctrl + k = css help */
/*hadebrake*/
/*display:none;*/
/* display:initial;*/
/*border-radius: */
font-family: 'Press Start 2P', cursive;

}
article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
display: block;   /* just in case we have any older browsers that don't recognize the HTML5 semantic elements */
}
{
border: 1px solid;
border-radius: 5px;
background-color: rgba(200,200,200,.6);
}
body {
margin: 0;  /* remove any margin from body to avoid unsightly gaps. */
padding: 0;  /* ditto for padding  */
background-color: #515760;
display: flex;
flex-wrap: wrap;
flex-direction: column;
font-size: 20px;
color: #E3DDDF;
}
header {
background-color: #515760;
text-align: center;
}
main {
display: flex;
flex-direction: column;
background-size: cover;
align-items: center;
}
#pokeman{
position: relative;
	display: flex;
justify-content: center;
align-content: center;

}
#ball{
position:absolute;
	width: 100%;
	height: 100%;
	animation-name: fade;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-duration: 1s;
		animation-direction: alternate;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0%;
background-color: #515760;
	text-align: right;
}

.fb-share-button {

}
