@import url('https://fonts.googleapis.com/css?family=Sansita');

* {
	box-sizing: border-box;    /* changes width property to total width instead of content width */
	/* ctrl + e = css rule */
	/* ctrl + k = css help */
	/*hadebrake*/
	/*display:none;*/
	/* display:initial;*/
	/*border-radius: */
}
.localWeather{
	position: absolute;
	top: 50px;
	margin-left: 192px;
}

.middle_box .frank{
	font-size: 1.5em;
 margin-top: .2%;
	margin-bottom: 2%;
}
.middle_box .current_temp{
	justify-content: space-between;
	font-size: 1.75em;
	padding-bottom: 0;
	padding-top: 0;
}

.left_side {
	display: flex;
	width: 63%;
	max-height: 15%;
	background-color: rgba(200,200,200,.6);
	margin: .2em auto;
	border: 1px solid;
	border-radius: 5px;
	padding: 0%;
	flex: .33;
	flex-flow: column;
/*	justify-content: center;*/
	align-items: center;
	max-height: 9em;
}
.left_side h4{
	font-size: 1.15em;
	padding: 0%;
	margin-bottom: 1%;
}
.left_side p {
	padding: 0;
	margin-top: 0%;
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
	display: block;   /* just in case we have any older browsers that don't recognize the HTML5 semantic elements */
}
nav ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-left: 0px;
	background-color: salmon;
	margin-bottom: 0;
}
.home{
	width: 65%;
	list-style: none;
	display: flex;
	justify-content: space-around;
	padding-left: 0px;
}
body {
	margin: 0;  /* remove any margin from body to avoid unsightly gaps. */
	padding: 0;  /* ditto for padding  */
	background-color: salmon;
display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	font-size: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Sansita, "second choice", generic-family;
}
nav a:link {
	text-decoration: none;
	color: #47556F;
}
main {
	display: flex;
	background-image: url("/temp_homepage/weather_website/images/lucy.jpg");
	background-size: cover;
	flex-direction: column-reverse;
}

.title .dice {
	transform: rotate(25deg);
	display: inline-block;
}

footer {
background-color: #A6D8DB;
}

header {
	background-color: #A6D8DB;
}


.middle_box {
	display: flex;
	width: 45%;
	background-color: rgba(200,200,200,.6);
	margin: .2em auto;
	border: 1px solid;
	border-radius: 5px;
	padding-bottom: 0;
	padding-top: 0;
	/*flex: .33;*/
	flex-flow: column;
	justify-content: center;
	align-items: center;
	/*width: 500px;
	min-width: 370px;*/

}
.right_box {
	display: none;

}
/*min-width: 32em*/
.mm {
display: flex;
	justify-content: flex-end;
}
header nav{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
@media only screen and (min-width: 32em) {

	main {
		display: flex;
		background-image: none;
		background-size: cover;
		flex-direction: row;
	}


	.right_box {
		display: flex;
		background-color: rgba(200,200,200,.6);
		margin: .2em auto;
		border: 1px solid;
		border-radius: 5px;
		padding-bottom: 0;
		padding-top: 0;
		flex: .33;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}


.test {
	margin-bottom: 0%;
	margin-top: 0%;
}

.current_temp h1{
	margin-bottom: 0;
	margin-top: 0%;
}
.middle_box {
	display: flex;
	background-color: rgba(200,200,200,.6);
	margin: .2em auto;
	border: 1px solid;
	border-radius: 5px;
	padding-bottom: 0;
	padding-top: 0;
	flex: .33;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	/*width: 500px;
	min-width: 370px;*/
	background-image: url("/temp_homepage/weather_website/images/snow.jpg");
}
	.left_side {
		display: flex;
		background-color: rgba(200,200,200,.6);
		margin: .2em auto;
		border: 1px solid;
		border-radius: 5px;
		padding: 0%;
		flex: .33;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}
	header nav {
		position:inherit;
	}

}
